@charset "UTF-8";

:root {
    --color-1: #304FFE;
    --color-2: #536DFE;
    --color-3: #3F51B5;
    --color-4: #E8EAF6;
    --color-5: #9FA8DA;

}


body {
	margin: 0;
	padding: 0;
}


.sidebar-container {
	display: flex;
	flex-direction: row;
	height: 120vh;
}

.sidebar {
	background-color: var(--color-1);
	color: #fff;
	height: 100%;
	width: 10px;
	transition: width 0.5s;
}

.sidebar:hover {
	width: 200px;
}

.sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar ul img {
	display: block;
	padding-right: 15px;
    height: 20px;
    width: 20px;
}

.sidebar li {
	margin: 0;
	padding: 10px;
}

.sidebar li a {
	color: #fff;
	text-decoration: none;
}

.sidebar li a:hover {
	text-decoration: underline;
}



header {
	font-size: 1em;
	background-color: var(--color-2);
	display: block;
	width: 100vw;
	height: 200px;
	padding: 0 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


header div.header-top{
	display: flex;
	padding: 10px;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

header div.header-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 100px;
}

header div.header-bottom nav ul{
	gap: 100px;
}


.logo img {
	height: 30px;
}

.search-bar {
	display: flex;
	align-items: center;
}

.search-bar input[type="text"] {
	padding: 8px;
	border: none;
	border-bottom: 2px solid #ddd;
	outline: none;
	font-size: 16px;
}

.search-bar button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 8px 10px;
	margin-left: 10px;
	cursor: pointer;
}

.search-bar button:hover {
	background-color: #555;
}

.user-profile {
	display: flex;
	align-items: center;
}

.user-profile img {
	border-radius: 50%;
	margin-right: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0;
	padding: 0;
}

nav a {
	display: block;
	padding: 20px;
	color: #333;
	text-decoration: none;
}

nav a:hover {
	background-color: #eee;
}

.user-info {
	display: flex;
	flex-direction: column;
}