@charset "UTF-8";

:root {
    --color-1: #304FFE;
    --color-2: #536DFE;
    --color-3: #3F51B5;
    --color-4: #E8EAF6;
    --color-5: #9FA8DA;

	  --avatar: url("https://github.com/gegds.png");
}


body {
	margin: 0;
	padding: 0;
}

/*barra lateral**********************************************************************************************/
.sidebar-container {
	position: absolute;
	height: 120vh;
}

.sidebar {
	position: absolute;
	overflow-y: auto;
  overflow-x: hidden;
	background-color: var(--color-1);
	color: var(--color-4);
	height: 100vmax;
	width: 10px;
	transition: width 0.5s;
}

.sidebar:hover {
	width: 200px;
}

.sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar ul img {
	display: block;
	padding-right: 15px;
    height: 20px;
    width: 20px;
}


.sidebar li {
	margin: 0;
	padding: 10px;
}

.sidebar li a {
	color: var(--color-4);
	text-decoration: none;
}

.sidebar li a:hover {
	text-decoration: underline;
}

div.sidebar ul li.dashboard-logo {
	font-size: 20px;
	font-weight: bolder;
	margin: 0;
	display: flex;
	justify-content: flex-start;
}

.sidebar ul li.dashboard-logo img {
	height: 22px;
	width: 22px;
}
/*Fim barra lateral******************************************************************************************/

/*Começo do Cabeçalho****************************************************************************************/
header {
  font-size: 1em;
  background-color: var(--color-2);
  display: flex;
  width: 100%;
  min-height: 150px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column-reverse;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 20px;
  width: 100%;
  max-width: 80vw;
}

.search-bar input[type="text"] {
  border: 0;
  background-color: var(--color-5);
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 16px;
  flex-grow: 1;
  width: 100%;
}

.search-bar button {
  background-color: var(--color-1);
  color: var(--color-4);
  border: none;
  padding: 8px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: var(--color-5);
}

.header-top {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  padding-right: 20px;
}

.profile {
  padding-right: 80px;
}

.profile img {
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

span {
  display: flex;
  font-weight: bolder;
  color: white;
}

.links {
  display: flex;
  gap: 20px;
  flex-grow: 1;
}

.links a {
  text-decoration: none;
  gap: 3rem;
  background-color: var(--color-5);
  color: white;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
}

.links a:hover {
  background-color: var(--color-1);
}

/*Fim Cabeçalho***********************************************************************************************/

/*main********************************************************************************************************/

/*começo main*/
main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-areas:
      "box1 box2 box3 announcements"
      "box4 box5 box6 trending";   
  align-items: center;
  width: 80%;
  padding-top: 20px;
}

.box {
  background-color: var(--color-2);
  border: 1px solid var(--color-5);
  padding: 20px;
  width: 200px;
  margin-bottom: 20px;
}

/*A media query está definida para uma largura máxima de 800px. Quando a tela tiver essa largura ou menor, as propriedades dentro dessa media query serão aplicadas, fazendo com que o layout mude para 1 coluna e 6 linhas. Note que o repeat(6, 1fr) é uma abreviação para definir seis linhas com o mesmo tamanho.*/
@media (max-width: 800px) {
  .boxes, aside{
    padding-left: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "box1"
        "box2"
        "box3"
        "box4"
        "box5"
        "box6"
        "announcements"
        "trending";
  }
}

.box-icons img{
  overflow: hidden;
  padding-right: 5px;
  height: 40px;
  width: 40px;
  transition: transform 1s ease;
}

.box-icons img:hover {
  box-shadow: 0 2px 5px var(--color-5);
  cursor: pointer;
}

.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
.box5 {
  grid-area: box5;
}
.box6 {
  grid-area: box6;
}

aside  {
  padding-top: 20px;
}

.announcement {
  background-color: var(--color-2);
  border: 1px solid var(--color-5);
  padding: 20px;
  width: 10em;
  grid-area: announcements;
}

h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--color-4);
}


.trendings {
  background-color: var(--color-2);
  border: 1px solid var(--color-5);
  padding: 20px;
  width: 10em;
  height: 16em;
  margin-top: 20px;
  grid-area: trending;
}

.trendings ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.trendings li {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
}

.trendings li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.trendings .profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trendings .profile-name {
  font-size: 1em;
  font-weight: bold;
  color: var(--color-5);
}

.trendings .profile-description {
  font-size: 0.8em;
  color: black;
  margin-top: 5px;
}

.trendings li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.trendings .profile-name:hover {
  color: var(--color-4);
  text-decoration: underline;
}
